<div class="contact text-center">
  <h4>OUR TEAM</h4>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="members-id members">
          <%= image_tag "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/2/005/0a3/281/27080a5.jpg", class: "avatar avatar-large" %>
          <h2>Aurélien</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla odit commodi fuga nisi deleniti iste quas obcaecati.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="members-id members">
          <%= image_tag "http://media.licdn.com/mpr/mprx/0_3Y7SZpAZ93AcGTSTT0D-ZY3zn89JGXpT_MU-ZxGoW6Gdj8I3SZxT90nXZSn6TijShgSPB4rR-CCi", class: "avatar avatar-large" %>
          <h2>Guillaume</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla odit commodi fuga nisi deleniti iste quas obcaecati.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="members-id members">
          <%= image_tag "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/2/005/0a3/281/27080a5.jpg", class: "avatar avatar-large" %>
          <h2>Aurélien</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla odit commodi fuga nisi deleniti iste quas obcaecati.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="members-id members">
          <%= image_tag "http://media.licdn.com/mpr/mprx/0_3Y7SZpAZ93AcGTSTT0D-ZY3zn89JGXpT_MU-ZxGoW6Gdj8I3SZxT90nXZSn6TijShgSPB4rR-CCi", class: "avatar avatar-large" %>
          <h2>Guillaume</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla odit commodi fuga nisi deleniti iste quas obcaecati.</p>
        </div>
      </div>
    </div>
  </div>
    <h4>CONTACT US</h4>
    <h2>+33 6 42 42 42 43</h2>
    <%= link_to "<h2>contact@ouipharma.fr</h2>", "mailto:contact@ouipharma.fr" %>
<!--     <a href="mailto:contact@ouipharma.fr"><h2>contact@ouipharma.fr</h2></a> -->
</div>
